@property --width {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
.swing {
  position: absolute;
  height: 20px;
  right: 40%;
  width: 200px;
  transition: ease-out, --width 0.25s;
  opacity: 100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent var(--width),
    white 100%
  );
}

.swing.front {
  z-index: 9999;
}


.swing.animate {
  --width: 100%;
}
